.food-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
}
.food-items{
    display: flex;
    align-items: center;
    width:1000px;
    flex-wrap: wrap;
}
